<!DOCTYPE html>
<html lang="en" dir="ltr" data-color-scheme="light">
    <head>
        <title>{% if title %} {{ title }} {% else %} {{ site.title }} {% endif %} | {{ site.name }}</title>

        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="description" content="{{ site.description }}">
        <meta property="og:title" content="{% if title %} {{ title }} | {% endif %} {{ site.name }}">
        <meta property="og:description" content="{{ site.shortDesc }}">
        <meta property="og:locale" content="en">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">


        <link rel="stylesheet" href="/assets/styles/style.css" />

        {% block scripts %}
        {% endblock %}
    </head>
    <body class="{{ pageType }} {{ pageClasses }}">
        <header class="mt-3">
            <a class="skip-link" href="#main">Skip to Content</a>
            <nav aria-label="main menu">
                <menu>
                    <li><a rel="home" href="/" {% if page.url == '/' %}aria-current="page"{% endif %}>Home</a></li>
                    <li><a href="/search/" {% if page.url == '/search/' %}aria-current="page"{% endif %}>Search</a></li>
                </menu>
            </nav>
            {% block pageHeader %}
                <h1>{% if heading %} {{ heading }} {% else %} {{ site.name }} {% endif %}</h1>
            {% endblock %}
        </header>
        <main id="main">
            {% block content %}
            <div class="content">
                {{ content | safe }}
            </div>
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
