{% extends "layouts/base.njk" %}

{% set pageType = "page-issue" %}

{% block pageHeader %}
        <nav aria-label="breadcrumbs">
            <ol>
                <li><a rel="home" href="/">Home</a></li>
                <li><a href="/projects/{{ issue.fields.project.name | slug }}">{{ issue.fields.project.name }}</a></li>
                <li><a href="{{ page.url }}">{{ issue.key }}</a></li>
            </ol>
        </nav>
        <h1>{% if heading %} {{ heading }} {% else %} {{ site.name }} {% endif %}</h1>
{% endblock %}

{% block content %}
    <div id="content" class="content">
        <aside class="spacing-y-1 bg-default">
            <h2>Metadata</h2>
        <dl>
            <div>
                <dt>Source</dt>
                <dd><a href="{{ site.sourceBaseUrl }}{{ issue.key }}">{{ issue.key }}</a></dd>
            </div>
            <div>
                <dt>Type</dt>
                <dd>{{ issue.fields.issuetype.name }}</dd>
            </div>
            <div>
                <dt>Priority</dt>
                <dd>{{ issue.fields.priority.name }}</dd>
            </div>
            <div>
                <dt>Status</dt>
                <dd>{{ issue.fields.status.name }}</dd>
            </div>
            <div>
                <dt>Resolution</dt>
                <dd>{{ issue.fields.resolution.name if issue.fields.resolution.name else "N/A" }}</dd>
            </div>
            <div>
                <dt>Assignee</dt>
                <dd>{{ issue.fields.assignee.displayName if issue.fields.assignee.displayName else "N/A" }}</dd>
            </div>
            <div>
                <dt>Reporter</dt>
                <dd>{{ issue.fields.reporter.displayName }}</dd>
            </div>
            <div>
                <dt>Created</dt>
                <dd><relative-time datetime="{{ issue.fields.created }}" prefix="">{{ issue.fields.created }}</relative-time></dd>
            </div>
            <div>
                <dt>Updated</dt>
                <dd><relative-time datetime="{{ issue.fields.updated }}" prefix="">{{ issue.fields.updated }}</relative-time></dd>
            </div>
            <div>
                <dt>Versions</dt>
                <dd>
                    {% if issue.fields.versions.length > 0 %}
                    <ol role="list">
                        {% for version in issue.fields.versions %}
                        <li>{{ version.name }}</li>
                        {% endfor %}
                    </ol>
                    {% else %}
                    N/A
                    {% endif %}
                </dd>
            </div>
            <div>
                <dt>Fixed Versions</dt>
                <dd>
                    {% if issue.fields.fixVersions.length > 0 %}
                    <ol role="list">
                        {% for version in issue.fields.fixVersions %}
                        <li>{{ version.name }}</li>
                        {% endfor %}
                    </ol>
                    {% else %}
                    N/A
                    {% endif %}
                </dd>
            </div>
            <div>
                <dt>Component</dt>
                <dd>
                    {% for component in issue.fields.components %}{{
                    component.name }} {% endfor %}
                </dd>
            </div>
        </dl>
        </aside>

        <div class="spacing-y-1">
            <h2>Description</h2>
            {{ content | safe }}
        </div>

        {% if issue.fields.environment %}
        <div class="spacing-y-1">
            <h2>Environments</h2>
            {{ issue.fields.environment | adf | safe }}
        </div>
        {% endif %}

        {% if issue.fields.issuelinks.length %}
        <div class="spacing-y-1">
            <h2>Issue Links</h2>
            <ul class="spacing-y-1">
                {% for issuelink in issue.fields.issuelinks %}
                <li>
                    {{ issuelink.type.name }}
                    {% if issuelink.outwardIssue %}
                        <a href="/browse/{{ issuelink.outwardIssue.key }}">{{ issuelink.outwardIssue.key }}: {{ issuelink.outwardIssue.fields.summary | safe }}</a>
                    {% else %}
                        <a href="/browse/{{ issuelink.inwardIssue.key }}">{{ issuelink.inwardIssue.key }}: {{ issuelink.inwardIssue.fields.summary | safe}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if issue.fields.attachment.length %}
        <div class="spacing-y-1">
            {% set mimeRegExp = r/^image/i %}
            <h2>Attachments</h2>
            <ul class="spacing-y-1" role="list">
                {% for attachment in issue.fields.attachment %}
                <li>
                    <a href="{{ site.attachmentBaseUrl }}{{ issue.fields.project.key }}/{{ issue.key }}/{{ attachment.filename }}">
                        {% if mimeRegExp.test(attachment.mimeType) %}
                            <img src="{{ site.attachmentBaseUrl }}{{ issue.fields.project.key }}/{{ issue.key }}/{{ attachment.filename }}" alt="{{ attachment.filename }}"/>
                        {% else %}
                            {{ attachment.filename }}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if issue.fields.comment.comments.length %}
        <div class="spacing-y-1">
            <h2>Comments</h2>
            <ul class="spacing-y-2" role="list">
                {% for comment in issue.fields.comment.comments %}
                <li>
                    <p class="mb-0"><b>{{ comment.author.displayName }}</b> <i>commented <relative-time datetime="{{ comment.created }}">{{ comment.created }}</relative-time></i></p>
                    {{ comment.body | adf | safe }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
<nav aria-labelledby="pagination">
    <h2 class="visually-hidden">pagination</h2>
    <p class="flex">
        {% if pagination.href.previous %}<a class="mx-1" href="{{ pagination.href.previous }}"><span class="aria-hidden">&larr;</span> Previous</a>{% else %}<span class="aria-hidden">&larr;</span> Previous{% endif %}
        {% if pagination.href.next %}<a class="mx-1" href="{{ pagination.href.next }}">Next <span class="aria-hidden">&rarr;</span></a>{% else %}Next <span class="aria-hidden">&rarr;</span>{% endif %}
    </p>
</nav>
{% endblock %}