{% extends "layouts/base.njk" %}

{% set pageType = "page-issue" %}

{% block pageHeader %}
    <header>
        <h1>{% if heading %} {{ heading }} {% else %} {{ site.name }} {% endif %}</h1>
        <p>Source: <a href="{{ site.sourceBaseUrl }}{{ issue.key }}">{{ issue.key }}</a></p>
    </header>
{% endblock %}

{% block content %}
    <div id="content" class="content">
        <dl>
            <div>
                <dt>Type</dt>
                <dd>{{ issue.fields.issuetype.name }}</dd>
            </div>
            <div>
                <dt>Priority</dt>
                <dd>{{ issue.fields.priority.name }}</dd>
            </div>
            <div>
                <dt>Status</dt>
                <dd>{{ issue.fields.status.name }}</dd>
            </div>
            <div>
                <dt>Resolution</dt>
                <dd>{{ issue.fields.resolution.name }}</dd>
            </div>
            <div>
                <dt>Assignee</dt>
                <dd>{{ issue.fields.assignee.displayName }}</dd>
            </div>
            <div>
                <dt>Reporter</dt>
                <dd>{{ issue.fields.reporter.displayName }}</dd>
            </div>
            <div>
                <dt>Created</dt>
                <dd>{{ issue.fields.created }}</dd>
            </div>
            <div>
                <dt>Updated</dt>
                <dd>{{ issue.fields.updated }}</dd>
            </div>
            <div>
                <dt>Versions</dt>
                <dd>
                    <ol>
                        {% for version in issue.fields.versions %}
                        <li>{{ version.name }}</li>
                        {% endfor %}
                    </ol>
                </dd>
            </div>
            <div>
                <dt>Fixed Versions</dt>
                <dd>
                    <ol>
                        {% for version in issue.fields.fixVersions %}
                        <li>{{ version.name }}</li>
                        {% endfor %}
                    </ol>
                </dd>
            </div>
            <div>
                <dt>Component</dt>
                <dd>
                    {% for component in issue.fields.components %}{{
                    component.name }} {% endfor %}
                </dd>
            </div>
        </dl>

        {{ content | safe }}

        {% if issue.fields.environment %}
        <h3>Environments</h3>
        {{ issue.fields.environment | adf | safe }}
        {% endif %}

        {% if issue.fields.issuelinks.length %}
        <h3>Issue Links</h3>
        <ul>
            {% for issuelink in issue.fields.issuelinks %}
            <li>
                {{ issuelink.type.name }}
                {% if issuelink.outwardIssue %}
                    <a href="/browse/{{ issuelink.outwardIssue.key }}">{{ issuelink.outwardIssue.key }}: {{ issuelink.outwardIssue.fields.summary | safe }}</a>
                {% else %}
                    <a href="/browse/{{ issuelink.inwardIssue.key }}">{{ issuelink.inwardIssue.key }}: {{ issuelink.inwardIssue.fields.summary | safe}}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if issue.fields.attachment.length %}
        {% set mimeRegExp = r/^image/i %}
        <h3>Attachments</h3>
        <ul>
            {% for attachment in issue.fields.attachment %}

            <li>
                <a href="{{ site.attachmentBaseUrl }}{{ issue.fields.project.key }}/{{ issue.key }}/{{ attachment.filename }}">
                    {% if mimeRegExp.test(attachment.mimeType) %}
                        <img src="{{ site.attachmentBaseUrl }}{{ issue.fields.project.key }}/{{ issue.key }}/{{ attachment.filename }}" alt="{{ attachment.filename }}"/>
                    {% else %}
                        {{ attachment.filename }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if issue.fields.comment.comments.length %}
        <h3>Comments</h3>
        <ul>
            {% for comment in issue.fields.comment.comments %}
            <li>
                <p>By {{ comment.author.displayName }} on {{ comment.created }}</p>
                {{ comment.body | adf | safe }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
