---
layout: "layouts/base.njk"
eleventyNavigation:
    key: Home
---
<h2>Projects</h2>

<ul>
    {% for project in collections.projects %}
    <li>
        <a href="{{ project.url }}">{{ project.data.title }} ({{ collections[ project.data.key ].length }} issues)</a>
    </li>
    {% endfor %}
</ul>
