---
layout: "layouts/issue.njk"
pagination:
    data: issues
    size: 1
    alias: issue
permalink: "browse/{{ issue.key }}/"
eleventyComputed:
    heading: "{{ issue.key }}: {{ issue.fields.summary | safe }}"
    title: "{{ issue.key }}"
    tags: "{{ issue.fields.project.name }}"
---

{% if issue.fields.description.version == 1 %}
    {{ issue.fields.description | adf | safe }}
{% endif %}
