---
layout: "layouts/project.njk"
pagination:
  data: collections.projects
  size: 1
  alias: project
permalink: /projects/{{ project | slugify }}/
eleventyComputed:
  heading: "{{ project }}"
  title: "{{ project }}"
---

<filter-container class="spacing-y-2">
  <p>
    <label for="type">Type</label>
    <select data-filter-key="type" id="type">
      <option value="">All</option>
      {% for type in issueTypes %}
      <option value="{{ type }}">{{ type }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    <label for="resolution">Resolution</label>
    <select data-filter-key="resolution" id="resolution">
      <option value="">All</option>
      {% for resolution in issueResolutions %}
      <option value="{{ resolution }}">{{ resolution }}</option>
      {% endfor %}
    </select>
  </p>
  <table>
    <caption class="top mb-1" data-filter-results="of {{ collections.projects[ project ].length }} Issues/of {{ collections.projects[ project ].length }} Issues">{{ collections.projects[ project ].length }} of {{ collections.projects[ project ].length }} Issues</caption>
    <tr>
      <th>Issue</th>
      <th>Type</th>
      <th>Resolution</th>
    </tr>
    {% for issue in collections.projects[ project ] | reverse %}
    <tr data-filter-type="{{ issue.fields.issuetype.name }}" data-filter-resolution="{{ issue.fields.resolution.name if issue.fields.resolution.name else 'N/A' }}">
      <td>
        <a href="/browse/{{ issue.key }}">
          {{ issue.key }}: {{ issue.fields.summary }}
        </a>
      </td>
      <td>
        {{ issue.fields.issuetype.name }}
      </td>
      <td>
        {{ issue.fields.resolution.name if issue.fields.resolution.name else 'N/A' }}
      </td>
    </tr>
    {% endfor %}
  </table>
</filter-container>
<script src="/assets/scripts/filter-container.js" type="module"></script>
