[role="list"] {
    list-style-type: none;
    padding-inline-start: 0;
}

caption.top {
    caption-side: top;
}

.skip-link {
    position: absolute;
    display: inline-block;
    padding: .375rem .75rem;
    line-height: 1;
    font-size: 1.25rem;
    background-color: white;
    transform: translateY(0);
}

.skip-link:not(:focus) {
    transform: translateY(-5rem);
}

.visually-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}